@model Simulador_de_negocios.Models.Estimacion_servicios

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Estimacion_servicios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unidad_produccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.unidad_produccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.total_suscripciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.total_suscripciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.total_mensual)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.total_mensual)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.producto_servicios_id_producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.producto_servicios_id_producto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_suscripcion">Edit</a> |
    <a asp-action="Index">Regresar</a>
</div>
